body , html{
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background: url(./images/wallpaperflare.com_wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}



h1{
    color: #ed9292;
    font-size: 3 rem;
}

.btn-primary{
    background-color: #6e0505;
    border-style: thin;
    border-color: #6e0505;
    
}

.btn-primary:hover{
    background-color: #8b0707;
    border-width: 4px;
    border-color: #8b0707;
}


.btn{
    font-weight: 700;
    border-radius: 300px;
}
.btn-xl{
    padding: 1rem 2rem;
}


.container{
    margin: 0;
}
hr{
    border-color: #8b0707;
    border-width: 5px;
    max-width: 65px;
    margin: 0 auto;
}